### R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
.qs
.sif

### data and figures 
containers/
data/
outputs/
results/
work/
logs/
slurm/
test/

figures/
reports/

# Common genomic data formats
*.bam
*.bai
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.fasta
*.fa
*.bed
*.gtf
*.gff
*.bigwig
*.bw
*.maf
*.maf.gz
.nextflow.*
fusion_report.log

# Miscellaneous stuff
**/*_cache/*
.DS_Store

# IDE specific
.vscode/
.nextflow/
*.code-workspace