// Container configuration for all processes
process {
    
    // // Process-specific containers
    withName: "FASTP_TRIM" {
        container = "${params.container_dir}/fastp-0.24.0.sif"
    }

    withName: "FASTQC" {
        container = "${params.container_dir}/fastqc-0.12.1.sif"
    }

    // withName: "SAMTOOLS_.*" {
    //     container = "${params.container_dir}/samtools.sif"
    // }

    // withName: "MULTIQC" {
    //     container = "${params.container_dir}/multiqc.sif"
    // }
    
    withName: "STAR_.*" {
        container = "${params.container_dir}/star-fusion.v1.15.0.simg"
    }
}