params{
    star_index      = "${params.reference_dir}/Gencode/STAR_index/"
    fasta           = "${params.reference_dir}/Gencode/gencode.hg38.v36.primary_assembly.fa"
    gtf             = "${params.reference_dir}/Gencode/gencode.v36.primary_assembly.annotation.gtf"
    blacklist       = "${params.reference_dir}/media/Data/Software/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
    known_fusions    = "${params.reference_dir}/media/Data/Software/arriba_v2.4.0/database/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz"
    protein_domains = "${params.reference_dir}/media/Data/Software/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
    cytobands       = "${params.reference_dir}/media/Data/Software/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
}