// Description: Module configuration 
process {

    withName: "FASTP_TRIM" {
        publishDir = (
                [
                    [
                        mode: params.publish_dir_mode,
                        path: {
                            "${params.outdir}/fastq_trimmed/${meta.id}"
                        },
                        pattern: "*_trimmed_{1,2}.fastq.gz",
                        enabled: params.save_trimmed_fastq
                    ],
                    [
                        mode: params.publish_dir_mode,
                        path: { "${params.outdir}/reports/fastp/${meta.id}" },
                        pattern: "*.{json,html,log}"
                    ]
            ]
        )
    }

    withName: "FASTQC" {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/fastqc/${meta.id}" },
            pattern: "*.{zip,html}"
        ]
    }

    withName: "STAR_ALIGNMENT" {
        // ext.args = { params.window_size ? "--window ${params.window_size}" : "--window 50" }
        publishDir = [
            path: {
                "${params.outdir}/starfusion/${meta.id}" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,junction,out,tab,log}"
        ]
    }
    
    // withName: "STAR_FUSION" {
    //     // ext.args = { params.window_size ? "--window ${params.window_size}" : "--window 50" }
    //     publishDir = [
    //         path: {
    //             "${params.outdir}/starfusion/${meta.id}" 
    //         },
    //         mode: params.publish_dir_mode,
    //         pattern: "*.{tsv}"

    //     ]
    // }

}